*{
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    height: 100vh;
    background-color: rgb(97, 34, 11);
    margin: 0 auto;
}
.name {
    color: rgb(236, 222, 233);
    font-size: 40px;
    font-style:italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 40px;
}
.gallery_item {
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.gallery {
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}
@media (max-width: 1080px) {
    .container {
        background-color: rgb(51, 41, 63);
        height: 100%;
        width: 100%;
    }
    .gallery {
        flex-direction: column;
    }
    .gallery_item {
        margin-bottom: 130px;
        width: 75%;
        height: 75%;
        position: relative;
        left:12%;
        border-style: double;
        border-color: rgb(26, 8, 43);
        border-radius: 6%;
        border-width: 25px;
    }
}